name: Build and Release

on:
  push:
    branches: ["main"]
    tags: ["*"]
  pull_request:
    branches: ["main"]

permissions:
  contents: write

env:
  CARGO_TERM_COLOR: always

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Install dependencies
        run: sudo apt-get update && sudo apt-get install -y musl-tools

      - name: Build
        run: cargo build --release --verbose

      - name: Run tests
        run: cargo test --verbose

  release:
    needs: build
    if: startsWith(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@stable

      - name: Build for release
        run: cargo build --release --verbose

      - name: Upload Release Artifact
        uses: actions/upload-artifact@v4
        with:
          name: fedora-utility-patchworker
          path: target/release/fedora-utility-patchworker

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: target/release/fedora-utility-patchworker
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}